@charset "UTF-8";

div.fdiv{
	margin: 0;
	padding: 0;
	background-color: #1d1d1d; 
	height: 300px;
}
 tr.headerline{
 	height: 100px;
 }
 
 td.footertext{
 	font-size: 15px;
 	font-family: Arial;
 	text-align: center;
 	color: white;
 	width: 8%;
 	font-weight: bold;
 }
 td.margin02{
 	width: 1%;
 }
 tr.marginline{
 	height: 40px;
 }
 a:link{
	text-decoration: none;
	color: inherit;
}
a:visited{
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}
p.ptext1{
	font-size: 20px;
 	font-family: Arial;
 	text-align: left;
 	color: white;
 	font-weight: bold;
}
p.ptext2{
	font-size: 20px;
 	font-family: Arial;
 	text-align: center;
 	color: white;
 	font-weight: bold;
}
span.spantext1{
	font-size: 30px;
}
span.spantext1{
	font-size: 30px;
}
span.spantext2{
	color: gray;
}